NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres?sslmode=require"
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
WEB_URL=http://localhost:3000
